#cloud-config
hostname: ${hostname}
fqdn: ${fqdn}
manage_etc_hosts: true
users:
  - name: user
    groups: users
    home: /home/user
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys:
      - ${file("id_rsa.pub")}
  - name: sysadmin
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, sysadmin
    home: /home/sysadmin
    shell: /bin/bash
    lock_passwd: false
    ssh-authorized-keys:
      - ${file("id_rsa.pub")}
# only cert auth via ssh (console access can still login)
ssh_pwauth: false
disable_root: false
chpasswd:
  list: |
     ubuntu:linux
  expire: False
packages:
    - apparmor-utils
    - apt-transport-https
    - avahi-daemon
    - ca-certificates
    - curl
    - dbus
    - dkms
    - jq
    - network-manager
    - qemu-guest-agent
    - socat
    - software-properties-common
growpart:
  mode: auto
  devices: ['/']
disk_setup:
  /dev/vdb:
    table_type: gpt
    layout: True
    overwrite: False
  /dev/vdc:
    table_type: gpt
    layout: True
    overwrite: False
fs_setup:
  - label: DATA1_XFS
    filesystem: xfs
    device: '/dev/vdb'
    partition: auto
    #cmd: mkfs -t %(filesystem)s -L %(label)s %(device)s
  - label: DATA2_EXT4
    filesystem: ext4
    device: '/dev/vdc'
    partition: auto
    #cmd: mkfs -t %(filesystem)s -L %(label)s %(device)s
mounts:
  # [ /dev/vdx, /mountpoint, fstype ]
  - [ LABEL=DATA1_XFS, /srv/, xfs ]
  - [ LABEL=DATA2_EXT4, /home/, ext4 ]

# https://linuxroutes.com/linux-fstab/
# 3rd col=fs type, 4th col=permissions, 5th=backup enabled, 6th=fsck order
mount_default_fields: [ None, None, "ext4", "defaults,noatime","0","2"]

# every boot
bootcmd:
    - [ sh, -c, 'echo $(date) | sudo tee -a /root/bootcmd.log' ]

# run once for setup
runcmd:
    - [ sh, -c, 'echo $(date) | sudo tee -a /root/runcmd.log' ]

# written to /var/log/cloud-init-output.log
final_message: "After cloud-init system UPTIME is $UPTIME seconds"
